---
layout: compress
---
/*----------  Typography  -----------*/
p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    line-height: 18px;
}

h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: 400;
    line-height: 42px;
}

h2 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    line-height: 36px;
}

h3 {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 24px;
}

a {
    color: #853E29;
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
    color: #E14817;
    text-decoration: none;
}

/*----------   NL Styles  -----------*/
body {
    background-color: #FFFFFF;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.NL_page {
    padding: 0px;
}

.NL_banner {
    background: url(../img/netlicensing-stage-banner.png) 100% 100%;
    background-position-y: center;
}

.NL_about_page {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.L64_links,
.L64_links a {
    color: #853E29 !important;
}

/*----------   NL Tooltip  -----------*/
.tooltip-inner {
    opacity: 1;
    color: #333;
    background-color: #fddcb5;
    border-color: #fddcb5;
}

.tooltip.bottom .tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-bottom-color: #fddcb5;
    border-top-color: #fddcb5;
}

/*----------   NL Dialog  -----------*/
.NL_dialog {
    padding: 30px 30px 30px 10px;
    background-color: #fafafa;
}

.NL_dialog_img {
    display: block;
    float: left !important;
    width: 30px;
    border-radius: 50%;
}

/*----------   NL Forms  -----------*/
.form-control {
    margin-bottom: 10px;
    opacity: 0.8;
    box-shadow: none;
    border-color: #FFF;
}

.NL_form1 {
    padding: 30px;
    text-align: center;
    background: url(../img/netlicensing-blurred-background.jpg) 100% 100%;
    background-position-y: 60%;
}

/*----------   Header  -----------*/
.NL_navbar {
    background-color: #FFFFFF;
    opacity: 0.95;
}

.NL_logo img {
    float: left;
    height: 29px;
    padding-right: 10px;
    margin-top: -5px;
}

.NL_logo span {
    float: right;
    color: #853E29;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.NL_main_menu li a {
    color: #444 !important;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.NL_main_menu li a:hover,
.NL_main_menu li a:active {
    color: #853E29 !important;
    background-color: #fff8ef !important;
}

.NL_mobile_menu {
    border: none;
}

.NL_mobile_menu:hover,
.NL_mobile_menu:visited,
.NL_mobile_menu:focus {
    background-color: #fff8ef !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #853E29;
}

/*----------   Footer  -----------*/
.NL_footer p {
    margin-bottom: 0px;
    background-color: #E14817;
    height: 40px;
    color: #f9e1c4;
    font-size: 12px;
    line-height: 3.5;
}

.NL_footer {
    background-color: #E14817;
}

.NL_social p {
    float: right;
}

.NL_social a i {
    color: #f9e1c4;
    font-size: 16px;
    padding-left: 10px;
}

.NL_footer_menu {
    display: block;
    margin-top: 70px;
    text-align: left;
    border-top: 1px solid #e7e7e7;
    background-color: #FFF;
    opacity: 0.9;
}

.NL_footer_menu a {
    color: #444;
}

.NL_footer_menu a:hover,
.NL_footer_menu h3 {
    color: #853E29;
}

.NL_footer_menu ul {
    padding-bottom: 10px;
}

.NL_footer_menu li {
    list-style-type: none;
}

.NL_footer_contacts img {
    padding-top: 21px;
    width: 100px;
}

/*----------   Index Page  -----------*/
.NL_about {
    height: 440px;
    padding-top: 120px;
    text-align: center;
}

.NL_about h3,
.NL_about_page h3,
.NL_form1 h3 {
    color: #f9e1c4;
}

.NL_form1 h2 {
    color: #FFF;
}

/*----------   Features Page  -----------*/
.NL_block {
    margin-top: 40px;
}

.NL_feature {
    min-height: 180px;
}

.NL_feature h4 {
    line-height: 25px;
}

.NL_feature p {
    color: #777;
}

.NL_icon {
    float: left;
    padding: 5px;
    margin-right: 5px;
    width: 30px;
    height: 100%;
}

.NL_FAQ h3 {
    color: #853E29;
}

/*-------------- Scroller -----------*/
.cbp-so-scroller {
    margin-top: 50px;
    overflow: hidden;
}

.cbp-so-section {
    margin-bottom: 5em;
    position: relative;
}

.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 1em 4%;
    overflow: hidden;
    min-height: 12em;
}

.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: right;
}

.cbp-so-side-right img {
    float: left;
    width: 410px;
}

.cbp-so-side-left img {
    float: right;
}

.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

@media screen and (max-width: 560px) {
    .NL_about {
        margin-top: -60px;
        height: 500px;
        text-align: center;
    }

    .NL_footer_menu a {
        font-size: 16px;
        line-height: 30px;
    }

    h1 {
        font-size: 24px;
    }

    .NL_social a i {
        font-size: 24px;
    }

}

@media screen and (max-width: 990px) {
    .NL_feature {
        min-height: 100px;
    }

}

@media screen and (min-width: 1800px) {
    .NL_feature {
        min-height: 120px;
    }

}

@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}
