---
layout: compress
---

/*----------  Typography  -----------*/
body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    line-height: 18px;
}

h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: 400;
    line-height: 42px;
}

h2 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    color: #853E29;
    font-weight: 400;
    line-height: 24px;
}

h4 {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    line-height: 24px;
}

a, a:focus {
    border-bottom: 1px dotted #853E29;
    color: #853E29;
    background-color: transparent;
}

a:active, a:hover {
    border-bottom: none;
    outline: 0;
    color: #E14817;
    text-decoration: none;
}

/*----------   NL Styles  -----------*/
body {
    background-color: #FFFFFF;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.NL_page {
    padding: 0px;
}

.NL_intro span {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    line-height: 24px;
}

.NL_banner {
    background: url(../img/netlicensing-stage-banner.png) 100% 100%;
    background-position-y: center;
}

.NL_about_page {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.L64_links,
.L64_links a {
    color: #853E29 !important;
}

/*----------   NL Tooltip  -----------*/
.tooltip-inner {
    opacity: 1;
    color: #333;
    background-color: #fddcb5;
    border-color: #fddcb5;
}

.tooltip.bottom .tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-bottom-color: #fddcb5;
    border-top-color: #fddcb5;
}

/*----------   NL Dialog  -----------*/
.NL_dialog {
    padding: 30px 30px 30px 10px;
    background-color: #fafafa;
}

.NL_dialog_img {
    display: block;
    float: left !important;
    width: 30px;
    border-radius: 50%;
}

/*----------   NL Forms  -----------*/
form {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 10px;
    opacity: 0.8;
    box-shadow: none;
    border-color: #FFF;
}

.NL_form1 {
    padding: 30px;
    text-align: center;
    background: url(../img/netlicensing-blurred-background.jpg) 100% 100%;
    background-position-y: 60%;
}

/*----------   NL accordion  -----------*/
.NL_accordion {
    margin: 40px;
}

.NL_accordion_heading a {
    display: block;
    text-decoration: none;
    border-bottom: none;
    font-size: 18px;
    padding: 15px 20px;
    width: 100%;
}

.NL_accordion_heading a span {
    display: block;
    float: left;
    background-color: #f9e1c4;
    border-radius: 50%;
    padding: 7px 14px;
    margin-top: -7px;
    margin-right: 10px;
}

.NL_accordion_heading a {
    color: #853E29;
}

.NL_accordion_heading {
    background: #FFF;
    border-top: 1px solid #f9e1c4;
    border-bottom: 1px solid #f9e1c4;
}

.NL_accordion_heading:hover,
.NL_accordion_heading:active {
    background: #FFF;
    border-top: 1px solid #853E29;
    border-bottom: 1px solid #853E29;
}

.NL_accordion_panel {
    border: none;
    background: #FFF;
    box-shadow: none;
}

.NL_accordion_content {
    padding: 30px 0;
}

.NL_accordion_content .highlight pre {
    font-size: smaller;
}

/*----------   Header  -----------*/
.NL_navbar {
    background-color: #FFFFFF;
    opacity: 0.95;
}

.NL_logo {
    border-bottom: none;
}

.NL_logo img {
    float: left;
    padding-right: 10px;
    margin-top: -5px;
}

.NL_logo span {
    float: right;
    color: #853E29;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.NL_main_menu li a {
    color: #444 !important;
    border-bottom: none;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.NL_main_menu li a:hover,
.NL_main_menu li a:active {
    color: #853E29 !important;
    background-color: #fff8ef !important;
}

.NL_mobile_menu {
    border: none;
}

.NL_mobile_menu:hover,
.NL_mobile_menu:visited,
.NL_mobile_menu:focus {
    background-color: #fff8ef !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #853E29;
}

/*----------   Footer  -----------*/
.NL_footer p {
    margin-bottom: 0px;
    background-color: #E14817;
    height: 40px;
    color: #f9e1c4;
    font-size: 12px;
    line-height: 3.5;
}

.NL_footer {
    background-color: #E14817;
}

.NL_social p {
    float: right;
}

.NL_social a i {
    border-bottom: none;
    color: #f9e1c4;
    font-size: 16px;
    padding-left: 10px;
}

.NL_social a {
    border-bottom: none;
}

.NL_footer_menu {
    display: block;
    margin-top: 70px;
    text-align: left;
    border-top: 1px solid #e7e7e7;
    background-color: #FFF;
    opacity: 0.9;
}

.NL_footer_menu a {
    color: #444;
    border-bottom: none;
}

.NL_footer_menu a:hover {
    color: #853E29;
}

.NL_footer_menu ul {
    padding-bottom: 10px;
}

.NL_footer_menu li {
    list-style-type: none;
}

.NL_footer_contacts img {
    padding-top: 21px;
    width: 120px;
}

/*----------   Index Page  -----------*/
.NL_about {
    height: 440px;
    padding-top: 120px;
    text-align: center;
}

.NL_about span,
.NL_about_page span,
.NL_form1 span {
    color: #f9e1c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.NL_form1 h2 {
    color: #FFF;
}

/*----------   Features Page  -----------*/
.NL_block {
    margin-top: 40px;
}

.NL_block_center {
    margin-top: 40px;
    text-align: center;
}

.NL_feature {
    min-height: 180px;
}

.NL_feature h4 {
    line-height: 25px;
}

.NL_feature p {
    color: #777;
}

.NL_icon {
    float: left;
    padding: 5px;
    margin-right: 5px;
    width: 30px;
    height: 100%;
}

/*----------   Licensing Model Page  -----------*/
ul {
    -webkit-padding-start: 0px !important;
}

ul#filterOptions {
    margin-bottom: 30px;
    text-align: center;
}

ul.NL_licensing_models {
    width: 100%;
    display: block;
    height: 100%;
    text-decoration: none;
}

ul#filterOptions li {
    display: inline-block;
}

ul.NL_licensing_models li.item {
    display: block;
    text-align: center;
    height: 450px;
}

/*----------  Material Cards  -----------*/

.card {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
}

.card .content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
}

.card p {
    margin: 0;
}

.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card a {
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.card .image {
    position: relative;
}

.card .image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
}

/*----------  Material Cards (end)  -----------*/

/*----------  Testimonial  -----------*/

.testimonial {
    margin: 0;
    background: #FFFDFD;
    padding: 10px 50px;
    position: relative;
    color: #333;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #FFF4F1;
    background-image: linear-gradient(#FFFDFD, #FFF4F1);
    border-left: 1px solid #eee;
}

.testimonial:before, .testimonial:after {
    font-family: Georgia, serif;
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
}

.testimonial:before {
    top: 0;
    left: 10px;
}

.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #FFF4F1;
    margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    color: #333;
    text-align: left;
}

.testimonial-author span {
    font-size: 12px;
    color: #333;
}

/*----------  Testimonial (end)  -----------*/

/*-------------- Scroller -----------*/
.cbp-so-scroller {
    margin-top: 50px;
    overflow: hidden;
}

.cbp-so-section {
    margin-bottom: 5em;
    position: relative;
}

.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 1em 4%;
    overflow: hidden;
    min-height: 12em;
}

.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: right;
}

.cbp-so-side-right img {
    float: left;
    width: 410px;
}

.cbp-so-side-left img {
    float: right;
}

.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/* Common button styles */
.NL_button {
    min-width: 50px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 0.5em 2em;
    background: none;
    color: #853E29;
    font-size: 1.5rem;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.button > span {
    vertical-align: middle;
}

/* NL buttons */
.NL_banner_btn {
    border: 2px solid #f9e1c4;
    color: #f9e1c4;
    margin: 0 auto;
    margin-top: 20px;
}

.NL_banner_btn i {
    font-size: 18px;
    padding-right: 5px;
}

.NL_banner_btn::before {
    background: #fff;
}

.NL_banner_btn:hover {
    color: #853E29;
    text-decoration: none;
    border-color: #fff;
}

.NL_button.NL_login_btn {
    text-transform: none;
    line-height: 2px;
    margin-top: 8px;
    margin-bottom: 0px;
    border: 1px solid #853E29;
    color: #853E29 !important;
}

.NL_button.NL_login_btn::before {
    background: #853E29;
}

.NL_button.NL_login_btn:hover {
    color: #fff !important;
    text-decoration: none;
    border-color: #853E29;
}

.NL_LM_btn {
    border: 1px solid #E14817;
    color: #E14817;
    text-transform: none;
}

a.NL_LM_btn:hover {
    border: 1px solid #E14817;
}

.NL_LM_btn::before,
ul#filterOptions>li.active>a {
    background: #f9e1c4;
    text-decoration: none;
    color: #E14817;
}

/* Main button action */
.button_main {
    -webkit-transition: border-color 0.7s, color 0.2s;
    transition: border-color 0.7s, color 0.2s;
}

.button_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button_main,
.button_main::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button_main:hover::before {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 767px) {
    .NL_button.NL_login_btn {
        max-width: 140px;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 560px) {
    .NL_about {
        margin-top: -60px;
        height: 500px;
        text-align: center;
    }

    .NL_footer_menu a {
        font-size: 16px;
        line-height: 30px;
    }

    h1 {
        font-size: 24px;
    }

    .NL_social a i {
        font-size: 24px;
    }

}

@media screen and (max-width: 990px) {
    .NL_feature {
        min-height: 100px;
    }

}

@media screen and (min-width: 1800px) {
    .NL_feature {
        min-height: 120px;
    }

}

@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}
