/* Pricing table styles*/
.nlic-plan-column ul li:nth-child(16) {
    padding-top: 20px;
}

.nlic-plan-column ul li {
    color: #E14817;
}

.nlic-plan-column {
    border: 1px solid #E14817;
}

.nlic-column {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 20%;
}

.nlic-plan-name {
    font-size: larger;
    min-height: 40px;
    display: block;
    font-weight: 700;
}

.nlic-pricing-table {
    margin-left: 0;
    margin-right: 0;
}
.nlic-pricing-table ul {
    margin: 0 0;
    padding: 0 0;
    width: auto;
    clear: both;
}

.nlic-pricing-table ul li {
    display: block;
    padding: 15px 0;
    max-height: 60px;
    list-style-type: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    line-height: 1.2;
    white-space: nowrap;
}

.nlic-pricing-table ul li:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.02);
}

.nlic-pricing-table ul li:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

.nlic-pricing-table ul li:nth-child(16) {
    padding: 10px 0 0 0;
    height: 60px;
}

.nlic-pricing-table .nlic-column-head {
    text-align: center;
    display: block;
    margin: 0 0;
    font-size: larger;
    padding: 20px 0 0 0;
}
.nlic-pricing-table .nlic-column-head span {
    color: #FFFFFF;
}

.nlic-plan-column .nlic-column-head {
    color: #FFFFFF;
    background-color: #E14817;
}

.nlic-plan-description {
    min-height: 50px;
    display: block;
}

.nlic-price {
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 50px;
    display: block;
    font-size: 28px;
    color: #853E29 !important;
    background-color: #F9F9F9;
}

.nlic-sku-feature-item {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nlic-feature-item-exist:before {
    content:"\f14a" !important;
}

.nlic-feature-item-not-exist:before {
    content:"\f096" !important;
}

.nlic-price-empty:before {
    content: "Customizable";
}