/* Pricing table styles*/
@import url('//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic');

.nlic-pricing-table {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.nlic-pricing-table a, a:focus {
    text-decoration: none;
}

.nlic-plan-column ul li:nth-child(16) {
    padding-top: 20px;
}

.nlic-plan-column ul li {
    color: #E14817;
}

.nlic-plan-column {
    border: 1px solid #E14817;
}

.nlic-column {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 20%;
}

.nlic-plan-name {
    font-size: larger;
    min-height: 40px;
    display: block;
    font-weight: 700;
}

.nlic-pricing-table {
    margin-left: 0;
    margin-right: 0;
}

.nlic-pricing-table ul {
    margin: 0 0;
    padding: 0 0;
    width: auto;
    clear: both;
}

.nlic-pricing-table ul li {
    display: block;
    padding: 15px 0;
    max-height: 60px;
    list-style-type: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    line-height: 1.2;
    white-space: nowrap;
}

.nlic-pricing-table ul li:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.02);
}

.nlic-pricing-table ul li:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

.nlic-pricing-table ul li:nth-child(16) {
    padding: 10px 0 0 0;
    height: 60px;
}

.nlic-pricing-table .nlic-column-head {
    text-align: center;
    display: block;
    margin: 0 0;
    font-size: larger;
    padding: 20px 0 0 0;
}

.nlic-pricing-table .nlic-column-head span {
    color: #FFFFFF;
}

.nlic-plan-column .nlic-column-head {
    color: #FFFFFF;
    background-color: #E14817;
}

.nlic-plan-description {
    min-height: 50px;
    display: block;
}

.nlic-plan-price {
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 50px;
    display: block;
    font-size: 28px;
}

.nlic-plan-column .nlic-plan-price {
    color: #853E29 !important;
    background-color: #F9F9F9;
}

.nlic-sku-feature-item {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nlic-feature-item-exist:before {
    content: "\f14a" !important;
}

.nlic-feature-item-not-exist:before {
    content: "\f096" !important;
}

.nlic-price-empty:before {
    content: "Customizable";
}

.nlic-column-LT-PRICE-PREMIUM .nlic-column-head {
    background-color: #853E29;
}

.nlic-column-LT-PRICE-PREMIUM .nlic-plan-column {
    border: 1px solid #853E29;
}

.nlic-action {
    padding: 5px 0 10px 0;
}

.nlic-action a {
    min-width: 50px;
    max-width: 250px;
    display: block;
    background: none;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: none;
    line-height: 2px;
    margin-top: 8px;
    margin-bottom: 0px;
    border: 1px solid #853E29;
    color: #853E29 !important;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 15px;
    margin-left: 15px;
}


.nlic-action a::before {
    background: #853E29;
}

.nlic-action a:hover {
    color: #fff !important;
    text-decoration: none;
    border-color: #853E29;
}

.nlic-action a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nlic-action a::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nlic-action a:hover::before {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nlic-sku-description {
    display: none;
}