{% if site.google_ads_tracking_id %}

<!-- Event snippet for NetLicensing - Multiple Pages conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': '{{ site.google_ads_tracking_id }}/IOowCNbSi38QtZrE3QM'});
</script>

<!-- Event snippet for Lead-Formular senden conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': '{{ site.google_ads_tracking_id }}/CZJdCN31xuUBELWaxN0D',
        'event_callback': callback
    });
    return false;
  }
</script>
  
{% endif %}