<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/guidechimp.min.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/guidechimp.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/plugins/googleAnalytics.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/plugins/multiPage.js"></script>

<script>
    var searchParams = new URLSearchParams(window.location.search);

    var tourLicensingModels = [
        {
            element: '[data-id="id-1"]',
            title: 'Try & Buy',
            description: 'This licensing model is useful in case you want to distribute secure <i>trial or demo version</i> of your product. Trial licenses are granted for a short time and allow customers to try the product before buying it.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlTNB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-3"]',
            title: 'Pricing Table',
            description: '<i>Price and package</i> in minutes without having to re-code or re-engineer back-office systems.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlPTB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-9"]',
            title: 'Node-Locked',
            description: 'Software is licensed for use only on one or more <i>named computer systems</i>. Usually, CPU serial number verification is used to enforce this type of license.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlNLK';
                    }
                }
            ]
        }
    ];

    var tourFeatures = [
        {
            element: '#feature-licensing-as-a-service',
            title: 'Licensing-as-a-Service',
            description: 'Increase flexibility! NetLicensing is cloud-based, you can start using it by just creating a free account. Start licensing your first product right away without installing any software!',
            position: 'right',
        },
        {
            element: '#feature-availability',
            title: 'Availability',
            description: 'The cloud-based infrastructure of NetLicensing provides the highest availability across your entire license management process. 99.0% UPTIME Guarantee!',
            position: 'top',
        },
        {
            element: '#feature-easy-setup-and-integration',
            title: 'Easy Setup and Integration',
            description: 'NetLicensing makes setup and integration fast, safe and very simple.',
            position: 'bottom',
        },
        {
            element: '#feature-internet-of-things-iot-licensing',
            title: 'Internet of Things (IoT) Licensing',
            description: 'Allow your customers borrow or lease rather than buy your Internet of Things product.',
            position: 'left',
        }
    ];

    var tourAdventCalendar = [
        {
            title: 'NetLicensing Advent 2020 - Day 1',
            description: 'Join us, as we count down days till Christmas with this <strong>NetLicesning Advent Calendar</strong> and receive every day awesome <i>NetLicensing Perks</i>!<br><br><img src="/img/advent/2020/netlicensing-advent-day1-small.png" alt="NetLicensing Advent 2020 - Day 1"><br><br>Behind the first door, you can find the code <i>"ADVENT2020_1"</i>, which entitles new vendors for 3 months <strong>Premium Plan</strong> for <strong>FREE</strong>.',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Use Code: ADVENT2020_1',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://ui.netlicensing.io/#/register';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 2',
            description: '<strong>Frictionless License Activation</strong> is one of the biggest ISV concerns.<br><br><img src="/img/advent/2020/netlicensing-advent-day2-small.png" alt="Frictionless License Activation">',
            multiPage: {
                page: '/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 3',
            description: 'Setup and manage Pricing Plans for your products with NetLicensing’s easy-to-use and configurable Pricing Table licensing model.<br><br><img src="/img/pricing-table/netlicensing-pricing-table-01-create.png" width="450" alt="Pricing Table"><br><br><strong>Call for Beta Testers!</strong><ul style="margin-left:20px;"><li>Help us improving Pricing Table model</li><li>Receive lifetime access to the Pricing Table model</li><li>There are limited spots available</li></ul>',
            multiPage: {
                page: '/membership-management/',
            },
            buttons: [
                {
                    title: 'Register your interest',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://netlicensing.io/contact/';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 4',
            description: 'Global <strong>Licensing Models Report 2020</strong> - adoption and usage statistics.<br><br><img src="/img/advent/2020/netlicensing-advent-day4-small.png" alt="Licensing Models Report 2020">',
            multiPage: {
                page: '/licensing-models/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 5',
            description: 'Operate NetLicensing in the <strong>White Label</strong> mode.<br>Your customers interact with your brand, while the entire licensing automation will be done using <strong>RESTful API</strong>.<br><br><img src="/img/netlicensing-landing-laas.png" width="450" alt="Yout brand identity">',
            multiPage: {
                page: '/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 6',
            description: 'Were your boots clean and ready on <strong>December 6</strong>?!<br>So our NetLicensing St. Nicholas can fill them with gifts and treats.<brIn the next <strong>6 days</strong>, you will receive <strong>6 months</strong> Basic plan for free with the below code.<br><br><img src="/img/advent/2020/netlicensing-advent-day6-small.png" alt="Licensing-as-a-Service">',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Use Code: Nikolaus',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://ui.netlicensing.io/#/register';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 7',
            description: '<strong>Licensing-as-a-Service (LaaS)</strong> - your full-service License Management.<br>LaaS offers ISV a flexible and effective means of monetizing their software products quickly and easily.<br><br><img src="/img/advent/2020/netlicensing-advent-day7-small.png" alt="Licensing-as-a-Service">',
            multiPage: {
                page: '/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 8',
            description: 'With NetLicensing you have a choice of ready-to-use licensing models or customized licensing models may be created to suit your unique business needs and goals.<br><br><img src="/img/netlicensing-landing-licensing-models.png" width="450" alt="Licensing Models">',
            multiPage: {
                page: '/licensing-models/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 9',
            description: 'You can test NetLicensing RESTful API with no-coding effort. Simply open our <strong>API Test Center</strong> and see this in action.<br><br><img src="/img/advent/2020/netlicensing-advent-day9-small.png" width="450" alt="NetLicensing RESTful API Test Center">',
            multiPage: {
                page: '/documentation/',
            },
            buttons: [
                {
                    title: 'API Test Center',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://netlicensing.io/NetLicensing-API/';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 10',
            description: 'We made this Advent Calendar with <strong>GuideChimp - Guided Product Tours</strong> library. A nice use-case for GuideChimp, isn\'t it?<br><br><img src="https://www.labs64.com/img/guidechimp/guidechimp-03-extendable.png" width="450" alt="GuideChimp">',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Visit GuideChimp',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://www.labs64.com/guidechimp/';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 11',
            description: 'Today is the last day of <i>NetLicensing Cyber Weeks</i>.<br>Don\'t miss the chance and receive this amazing offer with the below code!<br><br><img src="/img/blog/netlicensing-cyber-weeks-2020.png" width="450" alt="NetLicensing Cyber Weeks 2020 Offer">',
            multiPage: {
                page: '/blog/2020/11/27/labs64-netlicensing-cyber-weeks-2020/',
            },
            buttons: [
                {
                    title: 'Use Code: CYBER2020',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://ui.netlicensing.io/#/register';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 12',
            description: '<strong>Next evolution of software</strong><br>Companies like Fortnite have made over a billion in revenue by using a freemium model where you simply pay for upgrades.<br><br>Adopt and manage Freemium model for your products and services with NetLicensing\'s Pricing Table licensing model.<br><br><img src="/img/blog/mae-mu-U1iYwZ8Dx7k-unsplash.jpg" width="450" alt="Freemium Pricing Model">',
            multiPage: {
                page: '/blog/2020/07/10/importance-freemium-pricing-model/',
            },
            buttons: [
                {
                    title: 'Pricing Table',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://netlicensing.io/wiki/pricing-table';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 13',
            description: 'Find useful tips and case-studies on license management topic at NetLicensing YouTube channel.<br><br><iframe width="450" height="253" src="https://www.youtube.com/embed/LrfVsOVy73s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Visit NetLicensing YouTube Channel',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://www.youtube.com/watch?v=LrfVsOVy73s&list=PLXfRIwjR9ZR5ZTNuLt7esvObY2BcIgpp1';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 14',
            description: 'Join NetLicensing Affiliate Program and earn up to <strong>20% lifetime recurring commissions</strong> on paying referrals.<br><br><img src="/img/affiliates/netlicensing-affiliates-01-join.png" width="450" alt="NetLicensing Affiliate Program">',
            multiPage: {
                page: '/affiliates/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 15',
            description: 'Sign up today with the below code and receive <strong>6 months Basic Plan</strong> for free.<br><br><img src="/img/advent/2020/netlicensing-advent-day15-small.png" alt="NetLicensing Advent 2020 - Day 15">',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Use Code: ADVENT2020_15',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://ui.netlicensing.io/#/register';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 16',
            description: 'Whether you’re a startup or a Fortune 500 company, we can help you create a best-fit pricing model for your business.<br><br><img width="450px" height="480px" src="/img/advent/2020/netlicensing-advent-day16-small.png" alt="NetLicensing Pricing Plans">',
            multiPage: {
                page: '/membership-management/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 17',
            description: 'Use <strong>NetLicensing Community Support</strong> to report bugs and to request and vote for new NetLicensing features, as well as collaborate, asking questions around license management and support new NetLicensing adopters.<br><br><img src="/img/advent/2020/netlicensing-advent-day17-small.png" alt="NetLicensing Community Support">',
            multiPage: {
                page: '/documentation/',
            },
            buttons: [
                {
                    title: 'View on <i class="fa fa-github"></i>',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://github.com/Labs64/NetLicensing-Community';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 18',
            description: '<strong>Business Development & Growth Strategist wanted</strong><br>We are looking for a talented B2B business development specialist and growth hacker, who will be a voice for our brand and make our complex topic easy to understand.<br><br><img src="/img/advent/2020/netlicensing-advent-day18-small.png" alt="Job: Business Development">',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Join Us',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://www.labs64.com/contact/';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 19',
            description: 'Want to learn more about NetLicensing license management services?<br>Get in touch with us, and we will be happy to discuss your requirements and see how our service may cope with your needs.<br><br><img src="/img/advent/2020/netlicensing-advent-day19-small.png" alt="Contact NetLicensing">',
            multiPage: {
                page: '/contact/',
            },
            buttons: [
                {
                    title: 'Get In Touch With Us!',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://www.labs64.com/contact/';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 20',
            description: '<strong>As easy as one, two, three!</strong><br>NetLicensing makes setup and integration fast, safe and very simple. So you can get up and running in a few minutes.<br><br><img src="/img/advent/2020/netlicensing-advent-day20-small.gif" width="450px" height="253px" alt="NetLicensing Getting Started">',
            multiPage: {
                page: '/getting-started/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 21',
            description: 'Sign up today with the below code and receive <strong>21 weeks Basic Plan</strong> for free.<br><br><img src="/img/advent/2020/netlicensing-advent-day21-small.png" alt="NetLicensing Advent 2020 - Day 21">',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Use Code: ADVENT2020_21',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://ui.netlicensing.io/#/register';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 22',
            description: 'Implement comprehensive license acquisition and management workflow by connecting any eCommerce platform with NetLicensing Core services.<br><br><img src="https://netlicensing.io/wiki/assets/images/gateway-stage.png" width="450px" alt="NetLicensing Gateway">',
            multiPage: {
                page: '/documentation/',
            },
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://netlicensing.io/wiki/gateway';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 23',
            description: '<strong>Maximize revenue with flexible licensing models</strong><br>With NetLicensing you have a choice of ready-to-use licensing models or customized licensing models may be created to suit your unique business needs and goals.<br><br><img src="/img/netlicensing-landing-licensing-models.png" width="450px" alt="NetLicensing - Licensing Models">',
            multiPage: {
                page: '/licensing-models/',
            }
        }
    ];

    if (typeof guideChimpPluginMultiPage !== "undefined") {
        GuideChimp.extend(guideChimpPluginMultiPage);
    }
    if (typeof guideChimpPluginGoogleAnalytics !== "undefined") {
        GuideChimp.extend(guideChimpPluginGoogleAnalytics);
    }

    /* Advent2020 */
    var guideChimpAdventCalendar = GuideChimp(tourAdventCalendar);
    if (typeof guideChimpPluginGoogleAnalytics !== "undefined") {
        guideChimpAdventCalendar.gaOn('onAfterChange', 'Advent Calendar 2020', (to, from) => {
            return {
                event_category: 'guidechimp_tour',
                event_label: to.title
            };
        });
    }
    guideChimpAdventCalendar.continue();

    var guideChimpLicensingModels = GuideChimp(tourLicensingModels);
    var guideChimpFeatures = GuideChimp(tourFeatures);

    if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'licensing-models') {
        setTimeout(function () {
            guideChimpLicensingModels.start();
        }, 1000);
    } else if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'features') {
        setTimeout(function () {
            guideChimpFeatures.start();
        }, 1000);
    } else if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'advent-calendar-2020') {
        setTimeout(function () {
            var stepidx = new Date().getDate() - 1;
            if (stepidx >= tourAdventCalendar.length) {
                stepidx = tourAdventCalendar.length - 1;
            };
            guideChimpAdventCalendar.start(stepidx);
        }, 1000);
    }

</script>

<style>
    .gc-tooltip {
        max-width: 455px;
    }
    .gc-description {
        max-height: 550px;
    }
</style>
