<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/guidechimp@2.6.2/dist/guidechimp.min.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2.6.2/dist/guidechimp.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2.6.2/dist/plugins/googleAnalytics.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2.6.2/dist/plugins/multiPage.js"></script>

<script>
    var searchParams = new URLSearchParams(window.location.search);

    var tourLicensingModels = [
        {
            element: '[data-id="id-1"]',
            title: 'Try & Buy',
            description: 'This licensing model is useful in case you want to distribute secure <i>trial or demo version</i> of your product. Trial licenses are granted for a short time and allow customers to try the product before buying it.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlTNB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-3"]',
            title: 'Pricing Table',
            description: '<i>Price and package</i> in minutes without having to re-code or re-engineer back-office systems.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlPTB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-9"]',
            title: 'Node-Locked',
            description: 'Software is licensed for use only on one or more <i>named computer systems</i>. Usually, CPU serial number verification is used to enforce this type of license.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlNLK';
                    }
                }
            ]
        }
    ];

    var tourFeatures = [
        {
            element: '#feature-licensing-as-a-service',
            title: 'Licensing-as-a-Service',
            description: 'Increase flexibility! NetLicensing is cloud-based, you can start using it by just creating a free account. Start licensing your first product right away without installing any software!',
            position: 'right',
        },
        {
            element: '#feature-availability',
            title: 'Availability',
            description: 'The cloud-based infrastructure of NetLicensing provides the highest availability across your entire license management process. 99.0% UPTIME Guarantee!',
            position: 'top',
        },
        {
            element: '#feature-easy-setup-and-integration',
            title: 'Easy Setup and Integration',
            description: 'NetLicensing makes setup and integration fast, safe and very simple.',
            position: 'bottom',
        },
        {
            element: '#feature-internet-of-things-iot-licensing',
            title: 'Internet of Things (IoT) Licensing',
            description: 'Allow your customers borrow or lease rather than buy your Internet of Things product.',
            position: 'left',
        }
    ];

    var tourAdventCalendar = [
        {
            title: 'NetLicensing Advent 2020 - Day 1',
            description: 'Join us, as we count down days till Christmas with this <strong>NetLicesning Advent Calendar</strong> and receive every day awesome <i>NetLicensing Perks</i>!<br><br><img src="/img/advent/2020/netlicensing-advent-day1-small.png" alt="NetLicensing Advent 2020 - Day 1"><br><br>Behind the first door, you can find the code <i>"ADVENT2020_1"</i>, which entitles new vendors for 3 months <strong>Premium Plan</strong> for <strong>FREE</strong>.',
            multiPage: {
                page: '/',
            },
            buttons: [
                {
                    title: 'Use Code: ADVENT2020_1',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://ui.netlicensing.io/#/register';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 2',
            description: '<strong>Frictionless License Activation</strong> is one of the biggest ISV concerns.<br><br><img src="/img/advent/2020/netlicensing-advent-day2-small.png" alt="Frictionless License Activation">',
            multiPage: {
                page: '/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 3',
            description: 'Setup and manage Pricing Plans for your products with NetLicensing’s easy-to-use and configurable Pricing Table licensing model.<br><br><img src="/img/pricing-table/netlicensing-pricing-table-01-create.png" width="450" alt="Pricing Table"><br><br><strong>Call for Beta Testers!</strong><ul style="margin-left:20px;"><li>Help us improving Pricing Table model</li><li>Receive lifetime access to the Pricing Table model</li><li>There are limited spots available</li></ul>',
            multiPage: {
                page: '/membership-management/',
            },
            buttons: [
                {
                    title: 'Register your interest',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://netlicensing.io/contact/';
                    }
                }
            ]
        },
        {
            title: 'NetLicensing Advent 2020 - Day 4',
            description: 'Global <strong>Licensing Models Report 2020</strong> - adoption and usage statistics.<br><br><img src="/img/advent/2020/netlicensing-advent-day4-small.png" alt="Licensing Models Report 2020">',
            multiPage: {
                page: '/licensing-models/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 5',
            description: 'Operate NetLicensing in the <strong>White Label</strong> mode.<br>Your customers interact with your brand, while the entire licensing automation will be done using <strong>RESTful API</strong>.<br><br><img src="/img/netlicensing-landing-laas.png" width="450" alt="Yout brand identity">',
            multiPage: {
                page: '/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 6',
            description: '<strong>Licensing-as-a-Service (LaaS)</strong> - your full-service License Management.<br>LaaS offers ISV a flexible and effective means of monetizing their software products quickly and easily.<br><br><img src="/img/advent/2020/netlicensing-advent-day6-small.png" alt="Licensing-as-a-Service">',
            multiPage: {
                page: '/',
            }
        },
        {
            title: 'NetLicensing Advent 2020 - Day 7',
            description: '<strong>Licensing-as-a-Service (LaaS)</strong> - your full-service License Management.<br>LaaS offers ISV a flexible and effective means of monetizing their software products quickly and easily.<br><br><img src="/img/advent/2020/netlicensing-advent-day6-small.png" alt="Licensing-as-a-Service">',
            multiPage: {
                page: '/',
            }
        }
    ];

    if (typeof guideChimpPluginMultiPage !== "undefined") {
        GuideChimp.extend(guideChimpPluginMultiPage);
    }
    if (typeof guideChimpPluginGoogleAnalytics !== "undefined") {
        GuideChimp.extend(guideChimpPluginGoogleAnalytics);
    }

    /* Advent2020 */
    var guideChimpAdventCalendar = GuideChimp(tourAdventCalendar);
    if (typeof guideChimpPluginGoogleAnalytics !== "undefined") {
        guideChimpAdventCalendar.gaOn('onBeforeChange', 'Advent Calendar 2020', (to, from) => {
            return {
                event_category: 'guidechimp_tour',
                event_label: to.title
            };
        });
    }
    guideChimpAdventCalendar.continue();

    var guideChimpLicensingModels = GuideChimp(tourLicensingModels);
    var guideChimpFeatures = GuideChimp(tourFeatures);

    if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'licensing-models') {
        setTimeout(function () {
            guideChimpLicensingModels.start();
        }, 1000);
    } else if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'features') {
        setTimeout(function () {
            guideChimpFeatures.start();
        }, 1000);
    } else if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'advent-calendar-2020') {
        setTimeout(function () {
            guideChimpAdventCalendar.start(new Date().getDate() - 1);
        }, 1000);
    }

</script>

<style>
    .gc-tooltip {
        max-width: 455px;
    }
    .gc-description {
        max-height: 550px;
    }
</style>
