<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/guidechimp.min.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/guidechimp.min.js"></script>

<script>
    var searchParams = new URLSearchParams(window.location.search);

    var tourLicensingModels = [
        {
            element: '[data-id="id-1"]',
            title: 'Try & Buy',
            description: 'This licensing model is useful in case you want to distribute secure <i>trial or demo version</i> of your product. Trial licenses are granted for a short time and allow customers to try the product before buying it.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlTNB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-3"]',
            title: 'Pricing Table',
            description: '<i>Price and package</i> in minutes without having to re-code or re-engineer back-office systems.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlPTB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-9"]',
            title: 'Node-Locked',
            description: 'Software is licensed for use only on one or more <i>named computer systems</i>. Usually, CPU serial number verification is used to enforce this type of license.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlNLK';
                    }
                }
            ]
        }
    ];

    var tourFeatures = [
        {
            element: '#feature-licensing-as-a-service',
            title: 'Licensing-as-a-Service',
            description: 'Increase flexibility! NetLicensing is cloud-based, you can start using it by just creating a free account. Start licensing your first product right away without installing any software!',
            position: 'right',
        },
        {
            element: '#feature-availability',
            title: 'Availability',
            description: 'The cloud-based infrastructure of NetLicensing provides the highest availability across your entire license management process. 99.0% UPTIME Guarantee!',
            position: 'top',
        },
        {
            element: '#feature-easy-setup-and-integration',
            title: 'Easy Setup and Integration',
            description: 'NetLicensing makes setup and integration fast, safe and very simple.',
            position: 'bottom',
        },
        {
            element: '#feature-internet-of-things-iot-licensing',
            title: 'Internet of Things (IoT) Licensing',
            description: 'Allow your customers borrow or lease rather than buy your Internet of Things product.',
            position: 'left',
        }
    ];

    if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'licensing-models') {
        var guideChimp = new GuideChimp(tourLicensingModels);
        setTimeout(function () {
            guideChimp.start();
        }, 1000);
    } else if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'features') {
        var guideChimp = new GuideChimp(tourFeatures);
        setTimeout(function () {
            guideChimp.start();
        }, 1000);
    }

</script>

<style>
    .gc-tooltip {
        max-width: 450px;
    }
</style>
