<script src="{{ '/js/jquery-1.11.3.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/modernizr.custom.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/classie.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/cbpScroller.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/jquery.easing.1.3.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/jquery.quicksand.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/quicksand.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/jquery-ui.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/changeURL.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56a148f52ef01cbe" async="async"></script>
<script>
    $(function () {
        if ($("div").is("#cbp-so-scroller")) {
            new cbpScroller(document.getElementById('cbp-so-scroller'));
        }
    });
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $(".NL_footer_menu h3").on("click", function () {
        var $this = $(this);
        var $icon = $this.children(".fa");
        var $content = $this.next("ul");
        if ($(window).width() <= '993') {
            if ($icon.hasClass("fa-chevron-down")) {
                $this.css({border: "none"});
                $content.css({'border-bottom': '1px solid #E7E7E7'});
                $icon.switchClass("fa-chevron-down", "fa-chevron-up", 500);
                $content.animate({height: "100px"}, 700);
            } else {
                $content.css({border: "none"});
                $icon.switchClass("fa-chevron-up", "fa-chevron-down", 500);
                $content.animate({height: "0px"}, 700);
                $this.css({'border-bottom': '1px solid #E7E7E7'});
            }
        }
    });
</script>
<script>
    $(function(){
        $('.NL_pricing ul li').hover(function() {
            $('.NL_pricing ul li:nth-child('+($(this).index()+1)+') ').toggleClass('orange');
        })
    });
</script>
