<script src="{{ '/js/jquery-1.12.4.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/jquery-ui.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/jquery.easing.1.3.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/jquery.quicksand.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/modernizr-custom.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/classie.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/cbpScroller.min.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script src="{{ '/js/netlicensing.js' | prepend: site.baseurl | prepend: site.url }}" ></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56a148f52ef01cbe" async="async"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp/dist/guidechimp.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/guidechimp/dist/guidechimp.min.css"/>
<!-- Begin Cookie Consent plugin by Silktide - https://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
        "message": "This website uses cookies to ensure you get the best experience. We'll assume you're ok with this, but you can opt-out if you wish.",
        "dismiss": "Accept",
        "learnMore": "Read More",
        "link": "https://www.labs64.com/legal/privacy-policy/cookies-policy/",
        "target": "_self",
        "theme": "light-bottom"
    };
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js" async="async"></script>
<!-- End Cookie Consent plugin -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    $(function () {
        if ($("div").is("#cbp-so-scroller")) {
            new cbpScroller(document.getElementById('cbp-so-scroller'));
        }
    });
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $(".NL_footer_menu h3").on("click", function () {
        var $this = $(this);
        var $icon = $this.children(".fa");
        var $content = $this.next("ul");
        if ($(window).width() <= '993') {
            if ($icon.hasClass("fa-chevron-down")) {
                $this.css({border: "none"});
                $content.css({'border-bottom': '1px solid #E7E7E7'});
                $icon.switchClass("fa-chevron-down", "fa-chevron-up", 500);
                $content.animate({height: "150px"}, 700);
            } else {
                $content.css({border: "none"});
                $icon.switchClass("fa-chevron-up", "fa-chevron-down", 500);
                $content.animate({height: "0px"}, 700);
                $this.css({'border-bottom': '1px solid #E7E7E7'});
            }
        }
    });
</script>
<script>
    $(function(){
        $('.NL_pricing ul li').hover(function() {
            $('.NL_pricing ul li:nth-child('+($(this).index()+1)+') ').toggleClass('orange');
        })
    });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.nlic-usecases').slick({
      dots: false,
      infinite: true,
      autoplay: true,
      autoplaySpeed: 7000,
      speed: 500,
      slidesToShow: 1
    });
  });
</script>
<!--set affiliate cookies-->
<script>
    var searchParams = new URLSearchParams(window.location.search);

    if (searchParams.get('utm_campaign') === '{{site.affiliate.campaign}}') {
        if (searchParams.has('utm_source')) {
            var expires = new Date();
            expires.setDate(expires.getDate() + parseInt('{{site.affiliate.cookie-lifetime}}', 10));

            var affiliateCookie = '{{site.affiliate.cookie-name}}' + '=' + escape(searchParams.get('utm_source')) + ';';
            var affiliateCookieExpires = 'expires=' + expires.toUTCString() + ';';
            var affiliateCookiePath = 'path=/;';
            var affiliateCookieDomain = 'domain=' + (document.domain.match(/[^\.]*\.[^.]*$/)[0]) + ';';

            document.cookie = affiliateCookie + affiliateCookieExpires + affiliateCookiePath + affiliateCookieDomain;
        }
    }
</script>

<script>
    var searchParams = new URLSearchParams(window.location.search);

    var tour = [
        {
            element: '[data-id="id-1"]',
            title: 'Try & Buy',
            description: 'This licensing model is useful in case you want to distribute secure trial or demo version of your product. Trial licenses are granted for a short time and allow customers to try the product before buying it. Usually, production-level work is not allowed and some features may be limited or disabled in demo mode. The product is completely disabled after trial license has expired, unless full-featured license is granted.',
            buttons: [
                {
                    title: 'See more',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlTNB';
                    }
                }
            ]
        },
        {
            element: '[data-id="id-3"]',
            title: 'Pricing Table',
            description: '<strong>Price</strong> and package in minutes without having to re-code or re-engineer back-office systems.',
            buttons: [
                {
                    title: 'See more',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'http://nlic.io/nlPTB';
                    }
                }
            ]
        }
    ];

    if (searchParams.get('guidechimp') === 'on') {
        var guideChimp = new GuideChimp(tour);
        guideChimp.start();
    }

</script>

