<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ "{{ site.url }}/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "{{ site.url }}/js/modernizr.custom.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "{{ site.url }}/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "{{ site.url }}/js/cbpScroller.js" | prepend: site.baseurl }}" ></script>
<script>
    new cbpScroller(document.getElementById('cbp-so-scroller'));
</script>
