<nav class="navbar navbar-default navbar-fixed-top NL_navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed NL_mobile_menu" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand NL_logo" href="{{ site.url }}">
                <img src="{{ "/img/NL_logo.png " | prepend: site.baseurl | prepend: site.url }}" />
                <span>{{ site.title }}</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right NL_main_menu">
                {% for page in site.data.navigation %}
                {% if page.title %}
                <li><a class="page-link {{ page.class }}" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
