<!--insert getHTML response here-->
<!--example: https://go.netlicensing.io/core/v2/rest/licensingmodel/PricingTable/getHTML?productModuleNumber=<Product Module Number>&iframe=false-->

<style>
    .NL_price_features {
        border: 1px solid black;
    }

    .NL_plan_name {
        font-size: larger;
        min-height: 50px;
        display: block;
    }

    .NL_price_captions ul li, .NL_price_captions ul li:nth-child(16) {
        text-align: left;
        padding-left: 20px;
    }

    .NL_column {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
    }

    .NL_pricing ul {
        margin: 0 0;
        padding: 0 0;
        width: auto;
        clear: both;
    }

    .NL_pricing ul li {
        display: block;
        padding: 15px 0;
        max-height: 60px;
        list-style-type: none;
        text-align: center;
        line-height: 1.2;
        white-space: nowrap;
    }

    .NL_pricing h3 {
        text-align: center;
        display: block;
        padding: 20px 0;
        margin: 0 0;
        min-height: 100px;
    }

    .NL_price {
        text-align: center;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
        min-height: 50px;
        display: block;
    }

    .NL_plan_description {
        min-height: 50px;
        display: block;
    }
</style>
<article class="NL_page">
    <div class="NL_pricing">

        <div class="NL_column">
            <div class="NL_price_features ">
                <h3 class="NL_column_head"
                >
                                <span class="NL_plan_name">

                                </span>
                    <span class="NL_plan_description">

                                </span>
                    <span class="NL_price">

                                </span>
                </h3>
                <ul>
                    <li>Licensee Secret (Node-Locked) (Deprecated)</li>
                    <li>Attribution required</li>
                    <li>STRIPE Payment Services</li>
                    <li>Quota</li>
                    <li>Service Level Agreement</li>
                    <li>PayPerUse</li>
                    <li>NetLicensing Agent</li>
                    <li>NetLicensing Shop</li>
                    <li>Standard Technical Support</li>
                    <li>TryAndBuy</li>
                    <li>Shop Customization</li>
                    <li>Floating</li>
                    <li>Priority Technical Support</li>
                    <li>RESTful API and Integration</li>
                    <li>PricingTable</li>
                    <li>Dedicated Technical Success Manager</li>
                    <li>Product Usage Tracking Basic</li>
                    <li>MultiFeature</li>
                    <li>EU VAT Support</li>
                    <li>Product Usage Tracking</li>
                    <li>Online Licensing Training</li>
                    <li>Maintenance/Updates</li>
                    <li>NodeLocked</li>
                    <li>Management Console</li>
                    <li>Subscription</li>
                    <li>PAYPAL Payment Services</li>
                    <li>Rental</li>
                    <li>Active products</li>
                    <li>Product Modules (per product)</li>
                    <li>Licensees</li>
                    <li>Licenses</li>
                    <li>API Requests</li>
                </ul>
            </div>
        </div>
        <div class="NL_column">
            <div class="NL_price_features NL_price_regular">
                <h3 class="NL_column_head"
                >
                                <span class="NL_plan_name">
                                    FREE forever
                                </span>
                    <span class="NL_plan_description">
                                    Quick and simple for individuals and startups
                                </span>
                    <span class="NL_price">
                                        Free
                                </span>
                </h3>
                <ul>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        0
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        1
                    </li>
                    <li>
                        2
                    </li>
                    <li>
                        100
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        10
                    </li>
                </ul>
            </div>
        </div>
        <div class="NL_column">
            <div class="NL_price_features NL_price_regular">
                <h3 class="NL_column_head"
                    style="background-color:#853E29;">
                                <span class="NL_plan_name">
                                    Basic
                                </span>
                    <span class="NL_plan_description">
                                    For growing businesses with more customers
                                </span>
                    <span class="NL_price">
                                        48 EUR / month
                                </span>
                </h3>
                <ul>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        0
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        3
                    </li>
                    <li>
                        5
                    </li>
                    <li>
                        1000
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        100
                    </li>
                </ul>
            </div>
        </div>
        <div class="NL_column">
            <div class="NL_price_features NL_price_regular">
                <h3 class="NL_column_head"
                >
                                <span class="NL_plan_name">
                                    Premium
                                </span>
                    <span class="NL_plan_description">
                                    Full featured for comprehensive products
                                </span>
                    <span class="NL_price">
                                        198 EUR / month
                                </span>
                </h3>
                <ul>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        1
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        10
                    </li>
                    <li>
                        10
                    </li>
                    <li>
                        5000
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        500
                    </li>
                </ul>
            </div>
        </div>
        <div class="NL_column">
            <div class="NL_price_features NL_price_regular">
                <h3 class="NL_column_head"
                >
                                <span class="NL_plan_name">
                                    Enterprise
                                </span>
                    <span class="NL_plan_description">
                                    Advanced functionality for specific requirements
                                </span>
                    <span class="NL_price">
                                        Customizable
                                </span>
                </h3>
                <ul>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <i class="fa fa-square-o"></i>
                        <input type="checkbox" disabled="disabled" class="nl_plan_checkbox"/>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        <input type="checkbox" class="nl_plan_checkbox"
                               checked="checked" disabled="disabled"/>
                        <i class="fa fa-check-square"></i>
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        unlimited
                    </li>
                    <li>
                        unlimited
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
