<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@netlicensing"/>
<meta name="twitter:creator" content="@netlicensing">
<meta name="twitter:title" content="{{ site.title }}"/>
<meta name="twitter:description" content="{{ site.description }}"/>
<meta name="twitter:image" content="{{ '/img/netlicensing-twittercard.png' | prepend: site.baseurl | prepend: site.url }}"/>
<meta name="twitter:image:width" content="506"/>
<meta name="twitter:image:height" content="254"/>
