---
layout: default
---
<div class="casestudy">
    <div class="row NL_banner">
        <div class="col-md-6 col-md-offset-3 NL_about_page">
            <h1>{{ page.title }}</h1>
            <span>{{ page.description }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-1 NL_case_facts">

            <div class="NL_case_img" style="background-image:url(/img/case-studies/{{ page.img }})" alt="{{ page.title }}" title="{{ page.title }}"></div>

            <h3>Case Facts</h3>
            {% if page.company %}
            <p>Company</p>
            <ul>
                <li>{{ page.company }}</li>
            </ul>
            {% endif %}
            {% if page.industry %}
            <p>Industry</p>
            <ul>
                {% for industry in page.industry %}
                <li>{{ industry }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.use-case %}
            <p>Use Case</p>
            <ul>
                {% for usecase in page.use-case %}
                <li>{{ usecase }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.favorite-feature %}
            <p>Favorite Feature</p>
            <ul>
                {% for feature in page.favorite-feature %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>Website:</p><a href="{{ page.website }}" target="_blank">{{ page.website }}</a>
        </div>

        <div class="col-md-7 NL_case_study">
            {{ content }}
        </div>
    </div>

    <div class="NL_block row">
        <h2>Other Case Studies</h2>

        <p class="col-md-8 col-md-offset-2" style="text-align:center;">Whether you're looking for inspiration, business
            models, or precedents, the NetLicensing Case Studies are a perfect place to start.</p>
        {% for casestudy in site.case-studies limit:3 %}
        {% if casestudy.title %}
        {% if casestudy.title != page.title %}
        <a href="{{ casestudy.url }}" class="NL_cases_card col-md-6" title="Case Study: {{ casestudy.title }}">
            <div>
                <div class="view view-info col-md-5">
                    <img class="view-img" src="/img/case-studies/{{ casestudy.img }}" alt="{{ casestudy.title }}"/>

                    <div class="mask">
                        <img alt="{{ site.title }}"
                             src="{{ '/img/labs64-avatar-30x30.png' | prepend: site.baseurl | prepend: site.url }}"/>

                        <p>{{ casestudy.title }}</p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h3>{{ casestudy.title }}</h3>

                    <p>{{ casestudy.description }}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
