---
layout: default
---
<div class="casestudy">
    <div class="row NL_banner">
        <div class="col-md-6 col-md-offset-3 NL_about_page">
            <h1>{{ page.title }}</h1>
            <span>{{ page.description }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-1 NL_case_facts">

            <div class="NL_case_img" style="background-image:url({{ page.img | prepend: site.baseurl | prepend: site.url }})"
                 alt="{{ page.title }}" title="{{ page.title }}"></div>

            <h3>Case Facts</h3>
            {% if page.company %}
            <p>Company</p>
            <ul>
                <li>{{ page.company }}</li>
            </ul>
            {% endif %}
            {% if page.industry %}
            <p>Industry</p>
            <ul>
                {% for industry in page.industry %}
                <li>{{ industry }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.use-case %}
            <p>Use Case</p>
            <ul>
                {% for usecase in page.use-case %}
                <li>{{ usecase }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.favorite-feature %}
            <p>Favorite Feature</p>
            <ul>
                {% for feature in page.favorite-feature %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.website %}
            <p>Website:</p><a href="{{ page.website }}" target="_blank">{{ page.website }}</a>
            {% endif %}
        </div>

        <div class="col-md-7 NL_case_study">
            {{ content }}
        </div>
    </div>

    {% include related-case-studies.html current_page=page %}
</div>
