---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
        <ul>
            <li>
                <time pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}"
                      title="{{ page.date | date: '%b %-d, %Y' }}">{{ page.date | date: "%b %-d, %Y" }}
                </time>
            </li>
            <li>
                <address class="author">&nbsp;by
                    {% if page.author.name %}
                        {% assign author_name = page.author.name %}
                    {% else %}
                        {% assign author_name = site.title %}
                    {% endif %}

                    {% if page.author.url %}
                        <a href="{{ page.author.url }}" target="_blank">{{ author_name }}</a>
                    {% else %}
                        {{ author_name }}
                    {% endif %}
                </address>
            </li>
        </ul>
        </div>
    </header>
    <article class="post-content">
        {% if page.image.url %}
          {% unless page.image.hide %}
            {% if page.image.width %}
              {% assign image_width = page.image.width %}
            {% else %}
              {% assign image_width = '30%' %}
            {% endif %}
            <img src="{{ page.image.url }}" alt="{{ page.title }}" class="blog-thumbnail" width="{{ image_width }}">
          {% endunless %}
        {% endif %}
        {{ content }}
    </article>
    {% include addthis.html %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2 NL_previous_articles">
            <a href="{{ site.url }}"> Read previous article: <span> Article Name </span> </a>
        </div>
        <div class="col-md-4 NL_next_articles">
            <a href="{{ site.url }}"> Read next article: <span> Article Name </span> </a>
        </div>
    </div>
    {% include disqus.html %}
</div>
